<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Portfolio</title>
</head>
<body>
    <nav>
        <!-- <h2><a href="/"></a><img src="/images/jennaLogo.png" class="logo" alt="Jenna Bath" ></h2>
        <a href='/'>Home</a>
        <a href = "/mobile" class = "drop">Apps</a>
            <div class="droplinks">
                <a href="/weather">Weather</a>
                <a href="/forum">Forums</a>
                <a href="/number">Number Generator</a>
                <a href="/twitter">Twitter</a>
            </div>
        <a href='/mobile'>Mobile Applications</a>
        <a href='/web'>Web Applications</a> -->


        <div class="navbar">
            <h2><a href="/"></a><img src="/images/jennaLogo.png" class="logo" alt="Jenna Bath" ></h2>
            <a href='/'>Home</a>
            <!-- <a href = "/sites">Sites</a> -->
            <div class="dropdown">
              <button class="dropbtn">Apps
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/weather">Weather</a>
                <a href="/forum">Forum</a>
                <a href="/twitter">Mock Twitter</a>
                <a href="/number">Number Generator</a>
                <a href="/gpa">GPA Calculator</a>
              </div>
            </div>
          </div>
    </nav>