<%- include("./partials/header.ejs")%>

<h1>Look at individual apps with the navigation bar drop down menu</h1>
<h2>List of Apps</h2>
<h3>Forums App</h3>
<h3>Mock Twitter App</h3>
<h3>Number Generator (Multithreading)</h3>
<h3>Weather App</h3>


<%- include('./partials/footer.ejs')%>