<%- include("./partials/header.ejs")%>

<div class ="port">
    <h2>Forums Mobile App</h2>
    <p>This a forums app with comments and likes. The forums are public to any users and do not have threads.</p>
    <a href ="https://drive.google.com/drive/folders/1bQW4Y0hKvuQwKya3VzPlli8N1ntlegix?usp=sharing" class="pfiles">Project Files</a>
    <br><br>
    <img src="/images/LoginFragment.png" alt="LoginFragment" >
    <img src="/images/RegisterFragment.png"  alt="RegisterFragment" >
        <p>In this app, you must be a user to access the content. Once you are registered as a user and logged in, you can see a forums 
            list that is public for any user to see and post on. Posts update in real time.
        </p>
        <br><br><br><br>
    <img src="/images/ForumFragment.png" alt="/ForumFragment" >
        <p>You can create a new forum by clicking the button on the top. Each forum can be liked by anybody, and deleted only by the user 
            that posted it. The trash icon will only show to the owner of the post. When you click on a forum it will take you to its comments.
        </p>
        <br><br><br><br>
    <img src="/images/CreateForumFragment.png"  alt="CreateForumFragment" >
        <p> A user will input the post's title and description, but a forum has more fields that are auto filled such as: the user’s name 
            and the time posted.
        </p>
        <br><br><br><br>
    <img src="/images/CommentFragment.png"  alt="CommentFragment" >
        <p>The comment fragment shows the forum at the top, with the amount of comments displayed with it. Below it are the comments,
             if any. Anybody can post a comment on this screen and it will show up in real time. 
        </p>
        <br><br><br><br>
    <img src="/images/ForumFileLayout.png"  alt="ForumFileLayout" >
    <p>
        This is the file layout of this apps.
    </p>


    
</div>


<%- include('./partials/footer.ejs')%>