<%- include("./partials/header.ejs")%>
    <div class ="port">
        <h2>GPA Calculator Mobile App</h2>
        <p>This app calculates GPA for the classes inputted.</p>
        <a href ="https://drive.google.com/drive/folders/1HUV2Y3aioDYyfgFn8LNpELPUfcyEkUML?usp=sharing" class="pfiles">Project Files</a>
        <br><br>
        <img src="/images/GradesFragmentBlank.png"  alt="GradesFragmentBlank" >
        <img src="/images/GradesFragment.png"  alt="GradesFragment" >
            <p>This is the Grades screen, where all the classes are listed with their respective information. 
                GPA is calculated from the grades given, and the total number of credit hours is shown below to it. 
                The first picture is the screen without classes, the second is with classes. Classes are added by 
                    clicking the plus button on the top right
            </p>
            <br><br><br><br>
        <img src="/images/AddCourseFragmentBlank.png" alt="AddCourseFragmentBlank" >
        <img src="/images/AddCourseFragment.png" alt="AddCourseFragment" >
            <p>
                You can input a course in this screen, the gpa is calculated from the letter grade selected.

            </p>
            <br><br><br><br>
</div>



<%- include('./partials/footer.ejs')%>