<%- include("./partials/header.ejs")%>
    <div class = "content">
        <h3>Portfolio</h3> 
        <p>A collection of my coding projects to showcase my abilities</p>
    </div>
<%- include("./partials/footer.ejs")%>
