<%- include("./partials/header.ejs")%>


<div class ="port">
    <h2>Number Generator Mobile App</h2>
    <p>This a number genterator app, it shows off my use of multithreading if you look into the project files.</p>
    <a href ="https://drive.google.com/drive/folders/14xrf8YNjeZOxmuUsw18j1-g1JgitAXpe?usp=sharing" class="pfiles">Project Files</a>
    <br><br>
    <img src="/images/NumberGenerator4.png" alt="Number Generator" >
        <p>This app is very simple, it just generates random numbers between 0 and 1, the amount of numbers is determined by a slider.
        </p>
</div>


<%- include('./partials/footer.ejs')%>