<%- include("./partials/header.ejs")%>
<div class="port">
    <h2>Weather Mobile App</h2>
    <p>This a weather app that has a few cities you can selct from to view the current weather and the hourly forecast. </p>
    <a href ="https://drive.google.com/drive/folders/1R5wcVFSPJoUbX2OD4dWItZoVuBwN2laH?usp=sharing" class="pfiles">Project Files</a>
    <br><br>
    <img src="/images/CitiesListFragment.png"  alt="CitiesListFragment" >
        <p> First is the cities list, you can click on a city to bring you to the current weather data. This app uses GSON/JSON and a weather API to display the current weather: https://openweathermap.org/api.
            
        </p>
        <br><br><br><br>
    <img src="/images/CurrentWeatherFragment.png" alt="CurrentWeatherFragment" >
        <p>
            You can check out the forecast by clicking the forecast button from here. 
        </p>
        <br><br><br><br>
    <img src="/images/ForecastFragment.png"  alt="ForecastFragment" >
        <p>
            This shows the hourly forecast for that city. Although this app is not very advanced, it shows the work I can do with APIs and JSON
        </p>
        <br><br><br><br>
</div>

<%- include('./partials/footer.ejs')%>